body {
    background: #000;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    color: white;
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

h6 {
    font-family: Verdana;
    font-size: 21px;
    color: grey;
}

img {
    padding: 15px;
}